<h2>busquedas</h2>
<hr/>
<ul class="list-group">

  <li  
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact : true}"
    class="list-group-item"
    >buscar pais
  </li>

  <li
    routerLink="region" 
    routerLinkActive="active"
    class="list-group-item"
    >por region
  </li>
  
  <li 
    routerLink="capital"
    routerLinkActive="active"
    class="list-group-item"
    >por capital
  </li>

  <li 
    routerLink="subRegion"
    routerLinkActive="active"
    class="list-group-item"
    >por sub region
  </li>

</ul>